<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.assignment.mvvm">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="com.assignment.mvvm.NewsApp"
        android:allowBackup="false"
        android:icon="@drawable/byjuses"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mvvm_assignment">
        <activity
            android:name="com.assignment.mvvm.news.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".arch.DetailsActivity"/>
    </application>

</manifest>